<div class = "update-info">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn btn-secondary active">
			<a href="{% url 'detailgoalscreen' request.session.goal.pk %}">変更履歴</a>
		</label>
		
		{% if request.session.user %}
			<label class="btn btn-secondary">
				<a href="{% url 'changeapplication' %}">変更申請作成</a>
			</label>
			<label class="btn btn-secondary">
				<a href="{% url 'showchangeapplicationhistory' %}">変更申請表示</a>
			</label>
		{% endif %}
	</div>
</div>

{% for changehis in request.session.changedhistory_list %}
	<b>変更したユーザー:{{ changehis.user_id.username }}</b> : {{ changehis.date }}<br>
	変更した項目:{{ changehis.changevariable }} <br>
	変更前:{{ changehis.before }} <br>	
	変更後:{{ changehis.after }} <br> <br>
{% endfor %}
<br><br>

<div class = "reverse-next">
	{% if his_page != 1 %}
		<a href="{% url 'reverse' 'changeHistory' %}" class="btn btn-info btn-sm" role="button" aria-pressed="true">前へ</a>
	{% else %}
		<a href="{% url 'reverse' 'changeHistory' %}" class="btn btn-info btn-sm disabled" role="button">前へ</a>
	{% endif %}

	{% if his_page != his_page_max %}
		<a href="{% url 'next' 'changeHistory' %}" class="btn btn-info btn-sm" role="button" aria-pressed="true">次へ</a>
	{% else %}
		<a href="{% url 'next' 'changeHistory' %}" class="btn btn-info btn-sm disabled" role="button" aria-pressed="true">次へ</a>
	{% endif %}

</div>
<p> {{ his_page }} / {{ his_page_max }} ページ</p>




